<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: {class: 'form-signin'}) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <%= image_tag 'logo.svg', width: 72, height: 72, class: 'mb-4' %>
  <h1 class="h3 mb-3 font-weight-normal">Forgot your password?</h1>

  <label for="user_email" class="sr-only">Email address</label>
  <input type="email" id="user_email" name="user[email]" class="form-control mb-2" placeholder="Email address" value="" autocomplete="false" required autofocus>

  <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Send me reset password instructions</button>

  <p>
    <%= render "devise/shared/links" %>
  </p>

  <p class="mt-5 mb-3 text-muted">&copy; 2021</p>
<% end %>
