html,
body {
    height: 100%;
}

a, a:hover, a:focus {
    color: #90cc03ff;
}

.btn-primary {
    background-color: #90cc03ff;
    border-color: #90cc03ff;
}

.dropdown-item:focus, .dropdown-item:active,
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: #58ab06ff;
    border-color: #58ab06ff;
}

body {
    background-color: #154316;
    background-image: url("bg.png");
}

body > div {
    padding-bottom: 40px;
}

.container .page-header .pull-right {
    float: right;
}

.navbar-right b {
    text-transform: capitalize;
}

.pagination * {
    margin-right: 15px;
}