<%= render partial: 'layouts/navbar' %>

<div class="container bg-light mt-2 mb-4 p-4">
  <div class="page-header">
    <h1>Logs</h1>

    <hr>
  </div>

  <p>
    Total entries: <%= @logs_count %>
  </p>

  <%= render partial: 'list' %>
</div>